@import "../../styles/common.scss";

.Main {
  font-family: "EB Garamond", serif;
  .quickSand {
    font-family: "Quicksand", sans-serif;
  }
  .mainIssue {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
    background-color: #d9d9d9;
    font-weight: 600;
  }
}
