.CurrentIssueItem {
  width: 500px;
  height: 300px;
  margin-right: 300px;
  transform: translateX(580px);
  // 740
}

// width: 500px;
// height: 300px;
// margin-right: 400px;
// transform: translateX(600px);
// }
