@import "../../../styles/common.scss";
.FlexItemsList {
  padding: 0 $standardSpace;
  text-align: center;
  ul {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 0 20px;
  }
}
