@import "../../../styles/common.scss";
.FlexItemsList {
  margin: 0 $standardSpace;
  padding: 0 20px 150px;
  text-align: center;
  border-bottom: 1px solid #000;
  ul {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 0 20px;
  }
}
