@import "../../../styles/common.scss";

.MeetThePoetsItem {
  width: 495px;
  display: flex;
  flex-direction: column;
  text-align: center;
  div {
    cursor: pointer;
    position: relative;
    img {
      width: 100%;
      height: 740px;
    }
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      transition: 0.25s ease;
    }
    &:hover {
      &:after {
        opacity: 0.3;
      }
    }
  }
  .issue {
    font-size: 12px;
    font-weight: 500;
  }
  span {
    margin-top: 30px;
    &.name {
      font-size: 40px;
    }
  }
  a {
    margin: 30px auto;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #b6b6b6;
    width: 100px;
    padding: 0 0 10px;
    &:hover {
      border-bottom: 1px solid #7e7e7e;
    }
  }
}
