@import "../../../styles/common.scss";

.MeetThePoetsItem {
  width: 495px;
  display: flex;
  flex-direction: column;
  text-align: center;
  figure {
    img {
      width: 100%;
      height: 740px;
      margin-bottom: 25px;
    }
    figcaption {
      font-family: "Quicksand", sans-serif;
      font-size: 12px;
      font-weight: 500;
    }
  }
  span {
    margin-top: 30px;
    &.name {
      font-size: 40px;
    }
  }
  a {
    margin: 30px auto;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #b6b6b6;
    width: 100px;
    padding: 0 0 10px;
    &:hover {
      border-bottom: 1px solid #7e7e7e;
    }
  }
}
