@import "../../../styles/common.scss";

.PopularContent {
  display: flex;
  padding: $standardSpace 0;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  width: 750px;
  a {
    position: relative;
    margin-right: 30px;
    &:before {
      opacity: 0;
      position: absolute;
      transition: 0.25s ease-in-out;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3333;
      content: "";
      background-color: #000;
    }
    &:hover {
      &:before {
        opacity: 0.3;
      }
    }
    img {
      position: relative;
      width: 220px;
      height: 145px;
    }
  }
  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    span {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      &:first-child {
        font-size: 12px;
        font-weight: 500;
      }
    }
    p {
      color: #686868;
      font-size: 18px;
      font-family: "EB Garamond", serif;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}
