@import "../../../styles/common.scss";

.TextSticky {
  position: relative;
  height: 120vh;
  color: #ffffff;
  text-align: center;
  div {
    position: sticky;
    top: 0;
    padding: 300px 0 100px;
    p {
      font-size: 76px;
      padding-bottom: 50px;
    }
    span {
      font-size: 20px;
    }
  }
}
