.Product {
  font-family: "Quicksand", serif, sans-serif;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 40px;

  // @media only screen and (max-width: 350px; max-height: 228px;)
  img {
    // max-width: 350px;
    // min-width: 228px;
    // max-width: 350px;
    // min-height: 228px;
    // max-width: 25%;
    width: 228px;
    height: 228px;
  }
  button {
    margin: 7px 0 20px;
    font-size: 12px;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 0px;
  }
  p,
  div {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
  }
}
