.subContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 710px;

  .subContentItem {
    width: 230px;
    height: 554px;

    img {
      width: 187px;
      height: auto;
    }

    h4 {
      margin: 15px 0 15px 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 21.6px;
    }

    p {
      width: 190px;
      color: #4d4d4d;
      font-family: "EB Garamond", serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 25.5px;
    }

    span {
      color: #000000;
      font-size: 13px;
      font-weight: 500;
      line-height: 18.2px;
    }
  }
}
