.OrderInfoInput {
  padding: 15px 0;
  label {
    display: block;
  }
  input {
    width: 70%;
    padding: 10px;
    margin-top: 15px;
  }
  span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(223, 0, 0);
  }
}
