.productDetail {
  display: flex;
  height: auto;
  margin: 70px 40px;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    margin: 80px 0;
    font-size: 14px;
    font-weight: 300;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;

      li {
        margin: 0 7px;

        button {
          font-size: inherit;
          font-family: inherit;
          text-align: center;
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;

    aside {
      display: flex;
      flex-direction: column;
      max-width: 400px;
    }
  }

  .relatedProductSection {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    border-top: 0.1px solid black;

    header {
      margin: 50px 0;
      font-weight: 500;
    }

    .relatedProducts {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .relatedProduct {
        display: flex;
        width: 15%;
        height: 250px;
        flex-direction: column;
        align-items: flex-start;

        img {
          width: 100%;
          margin-bottom: 10px;
        }

        span {
          font-size: 13px;
          margin-bottom: 5px;
        }

        .relatedProductCategory {
          margin-bottom: 20px;
        }
      }
    }
  }
}
