.TitleBox {
  display: flex;
  justify-content: space-between;
  width: 1343px;
  height: 252px;
  margin: 0 45px 0 10px;
  padding: 83px 25px 74px 25px;

  h1 {
    padding-top: 20px;
    font-family: "EB Garamond", serif;
    font-size: 70px;
    line-height: 75.6px;
  }

  button {
    font-size: 14px;
    line-height: 20.4px;
    letter-spacing: 1.84px;
  }
}
