@import "../../styles/common.scss";

.Checkout {
  text-align: center;
  padding-top: 100px;
  margin: 0 $standardSpace;
  h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    span {
      border-bottom: 1px solid #000;
      padding: 0 5px;
    }
  }
  input {
    outline: none;
  }
  .invisible {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
  .flexContainer {
    text-align: left;
    display: flex;
    margin: 100px 0px 50px 50px;
    > div {
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      .infoForm {
        position: relative;
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          bottom: 0;
          top: 0;
          right: 80px;
          background-color: #000;
        }
        ul {
          li {
            padding: 15px 0;
            label {
              display: block;
            }
            input {
              margin-top: 15px;
              padding: 10px;
              width: 70%;
            }
          }
        }
      }
      table {
        width: 75%;
        tbody {
          tr {
            display: flex;
            justify-content: space-between;
            padding: 20px 10px;
            border-bottom: 1px solid #000;
            &.shipping,
            &:first-child {
              border-bottom-width: 2px;
            }
            &:last-child {
              padding-bottom: 50px;
            }
            th {
              color: #7a7a7a;
            }
          }
        }
      }
      .paymentChoice {
        width: 440px;
        .cardList {
          margin-left: 10px;
          display: flex;
          align-items: center;
          li {
            margin: 0 3px;
            width: 35px;
            padding: 0;
            img {
              width: 100%;
            }
          }
        }
        li {
          padding-bottom: 20px;
          .titleContents {
            padding: 20px 0 10px;
            label {
              margin-left: 10px;
            }
            display: flex;
            align-items: center;
          }
          &:nth-child(1) {
            .innerContents {
              ul {
                padding: 10px 0;
                li {
                  label {
                    display: block;
                    margin-bottom: 10px;
                  }
                  input {
                    padding: 10px 15px;
                  }
                  &:nth-child(1) {
                    input {
                      width: 60%;
                    }
                  }
                  &:nth-child(2),
                  &:nth-child(3) {
                    margin-right: 30px;
                    display: inline-block;
                  }
                }
              }
            }
          }
          &:nth-child(2) {
            .cardList {
              padding-top: 10px;
              li {
                width: 50px;
                padding: 0;
              }
            }
            .innerContents {
              span {
                line-height: 1.5;
              }
            }
          }
        }
      }
      button {
        border: 1px solid #000;
        width: 440px;
        padding: 13px;
        font-weight: 500;
        font-size: 16px;
        transition: 0.25s ease;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
