.contentDetail {
  display: flex;
  height: auto;
  margin: 150px 40px;
  flex-direction: column;
  align-items: center;

  section {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;

    article {
      position: sticky;
      top: 70px;
      margin: 0 20px;
      font-family: "EB Garamond";

      header {
        font-size: 100px;
      }

      p {
        padding: 40px 0;
        font-size: 24px;
      }
    }

    div {
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      img {
        width: 45%;
      }
    }

    img {
      width: 45%;
    }
  }
}
