@import "../../styles/common.scss";

.Header {
  position: fixed;
  width: 100%;
  padding: 0 $standardSpace;
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  nav {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      width: 100px;
      &:nth-child(1) {
        li {
          &:nth-child(1) {
            a {
              border: 1px solid #000;
              transition: 0.3s ease;
              &:hover {
                color: #fff;
                background-color: #000000;
              }
            }
          }
        }
      }
      li {
        margin-left: 10px;
        a {
          padding: 10px 15px;
        }
        button {
          cursor: pointer;
          span {
            display: block;
            width: 35px;
            height: 2px;
            background-color: #333;
            margin-top: 5px;
            &:first-child {
              margin-top: 3px;
            }
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
    .imgBox {
      width: 170px;
      transform-origin: 50% 0%;
      transition: 0.35s ease;
      transform: scale(1);
      img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

main {
  min-height: 500vh;
}
