@import "../../styles/common.scss";

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

.Header {
  font-family: "Quicksand", sans-serif;
  padding: 0 $standardSpace;
  background-color: #fff;
  border-bottom: 1px solid #f00;
  width: 100%;
  position: fixed;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      li {
        padding: 15px;
        button {
          span {
            display: block;
            width: 35px;
            height: 2px;
            background-color: #333;
            margin-top: 5px;
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
    .imgBox {
      width: 170px;
      transform-origin: 50% 0%;
      transform: scale(1);
      img {
        width: 100%;
      }
    }
  }
}

main {
  min-height: 200vh;
}
