.ProductCartMenu{
    font-family: 'Quicksand';
    div{
        display: flex;
        height: 48px;
        font-size: 20px;
        align-items: center;
        font-weight: 500;
        margin-bottom: 20px;
        span{
            margin:0 6px;
            &:first-child{
                margin-right: auto;
            }
        }
        button{
            font-size: 25px;
            cursor: pointer;
        }
    }
    .countContainer{
        border-bottom: 0.1px solid black;
    }

    .totalContainer{
        border: none;
    }
    .cartContainer{
        border: 0.1px solid black;
        justify-content: center;
    }
}