@import "../../styles/common.scss";
.Footer {
  display: flex;
  height: 42px;
  margin: 200px $standardSpace 0;
  padding: 10px 0 100px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  border-top: 3px solid #000;
  justify-content: space-between;
  a {
    transition: 0.35s ease;
    &:hover {
      color: #bcbcbc;
    }
  }
  ul {
    display: flex;
    li {
      padding: 10px;
    }
  }
}
