.CartList {
  border: 1px solid red;
  font-family: "Quicksand", serif, sans-serif;

  .container {
    max-width: 2000px;
    padding: 0 3%;
    margin: 0 auto;
    // box-sizing: content-box; 추후 재사용해보고, 필요없으면 삭제 예정

    .module {
      max-width: 2000px;
      padding-top: calc(0.00937 * 100vw + 35px);
      padding-bottom: 30px;
      margin: 0 20px;

      h1 {
        text-align: center;
        margin-bottom: calc(0.00937 * 100vw + 35px);
        font-weight: 600;
        font-size: 18px;
      }
    }

    .commerce {
      display: flex;

      .leftSection {
        flex: 18%;
        padding: 0 1.25rem;
        text-align: left;
        letter-spacing: 1.2px;
        font-weight: lighter;
        font-size: 14px;
      }

      .centerSection {
        flex: 52%;
        padding-right: 50px;
        margin-right: 50px;
        border-right: 1px solid lightgray;

        table {
          width: 100%;

          thead {
            width: 100%;

            tr {
              width: 100%;
              font-size: 15px;

              th {
                padding: 10px 0;
              }

              th:first-child {
                width: 43%;
                text-align: left;
              }

              th:nth-child(2) {
                // border: 1px solid green;
                width: 15%;
                text-align: left;
              }

              th:nth-child(3) {
                // border: 1px solid green;
                width: 12%;
                text-align: left;
              }

              th:last-child {
                // border: 1px solid green;
                width: 30%;
                text-align: center;
              }
            }
          }

          tbody {
            tr {
              border-top: 1px solid black;

              td {
                vertical-align: middle;
                text-align: left;
                select {
                  cursor: pointer;
                  width: 65px;
                  height: 40px;
                  border-radius: 0%;
                  outline: none;
                }
              }

              td:first-child {
                padding: 10px 0 17px 0;
                img {
                  width: 100px;
                }
              }
              td:nth-child(5),
              td:last-child {
                text-align: right;
              }
            }

            tr:last-child {
              td {
                padding: 35px 0 10px;

                div {
                  input {
                    display: block;
                    margin: 0 0 20px auto;
                    width: 270px;
                    height: 40px;
                    padding: 9px;
                    border-radius: 0;
                    font-family: inherit;
                    letter-spacing: 1px;
                    outline: none;
                  }
                  .couponCode {
                    font-size: 16px;
                  }
                  .applyCoupon {
                    background-color: rgb(77, 77, 77);
                    color: white;
                    font-size: 14px;
                  }
                  .updateBasket {
                    background-color: white;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }

      .rightSection {
        // border: 1px solid blueviolet;
        flex: 30%;
        background-color: lightblue;
        h2 {
          margin-bottom: 11px;
          font-size: 31px;
          line-height: 1.08;
        }
      }
    }
  }
}
